.tasksTable {
    width: 100%;
    background: var(--gray-500);
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 2em 2em;
}

.tasksTable button{
    padding: 0.5rem 0.5rem;
}

.taskCompleted {
    text-decoration: line-through;
}

.taskUncompleted {
    text-decoration: none;
}